{% extends "blog/base.html" %}
{% block content %}

	<h1>About Shahed</h1>

	
	    <p>Hello, Everyone</p>

		<p>My name is 	<a href="https://www.facebook.com/MohammadShaheduzzamanShahed" target="_blank">Mohammad Shaheduzzaman Shahed</a>. i have Completed my Graduation by having BSc in EEE from UITS. Also i have done CCNA(Cisco Certified Network Associate) course taken from AIUB and got Vendor Certified from internationally. Though i graduated from EEE, but i was Passionate about learning Computer programming. Then i got the job as a Network Engineer and Junior oracle Database executive.</p>

		<p>Being quite addicted to computer programming, i started practicing on my own, due to having a lot of work pressure at the job, I quit the job. Then I thought about how about to Make Money Online, and started a lot of research for Affiliate Marketing and Dropshipping with my own Wordpress E-Commerce website(the time was 2018, i started) as well as learning computer programming. I used to practice little by little in the space of Business. and the practice is still going on</p>

		<p><strong>I am Expert in</strong><br> 
		- Wordpress Website Customization<br>
		- Facebook Ads Campaign<br>
		- Bing Ads Campaign<br>
		- Google ads Campaign<br> 
		</p>
		<p>
		<em>- Full Stack Web Developer with Python | Django</em> <br> 
		<em>- Complete HTML5, CSS3 | Bootsrap4 | Javascript | React.js | Node.js | Express | MongoDB | SQL | MySQL</em> <br>
		<em>- Oracle Application Express (APEX) </em> <br>
		<em>- CCNA Vendor Certified </em> 
		</p>

		<p><strong>***</strong>Happy Programming and Wish you all the best<strong>***</strong></p>


		<strong>Other Working Activites</strong>

		<p>
			- Affiliate and Dropshipping(Aliexpress.com)<br>
			- You Can Visit My Dropshipping Business Website : <a href="https://www.ebestbuyco.com" target="_blank">https://www.ebestbuyco.com</a><br>

			- Owner | Founder : <a href="https://www.powerxit.com" target="_blank">https://www.powerxit.com</a> (Complete Web Development Service Center for your Business)
		</p> 
	

{% endblock %}