{% extends "blog/base.html" %}
{% block content %}

	<h1>About Shahed</h1>

	
	    <p>Hello, Everyone</p>

		<p>My name is 	<a href="https://www.facebook.com/MohammadShaheduzzamanShahed" target="_blank">Mohammad Shaheduzzaman Shahed</a>. i have Completed my Graduation by having BSc in EEE from UITS. Also i have done CCNA(Cisco Certified Network Associate) course taken from AIUB and got Vendor Certified from Pearson VUE. And i am Passionate about Computer programming.</p>

		
		<p><strong>I am Expert on</strong><br> 
		<em>- Full Stack Web Developer with Python | Django, React | NodeJS, VUEjs</em> <br> 
		<em>- Complete HTML5, CSS3 | Bootsrap4 | Javascript | React.js | Node.js | Express | MongoDB | SQL | MySQL | PostgreSQL</em> <br>
		<em>- Oracle Application Express (APEX) </em> <br>
		<em>- CCNA Vendor Certified </em> 
		</p>
		<p><strong>Others expertise on</strong><br> 
			- Wordpress Website Customization<br>
			- Facebook Ads Campaign<br>
			- Bing Ads Campaign<br>
			- Google ads Campaign<br> 
		</p>

		<p><strong>***</strong>Happy Programming and Wish you all the best<strong>***</strong></p>


		<strong>Other Working Activites</strong>

		<p>
			
		Owner | Founder : <a href="https://www.powerxit.com" target="_blank">https://www.powerxit.com</a> (Complete Web Development Service Center for your Business)
		</p> 
	

{% endblock %}