{% extends "blog/base.html" %}
{% block content %}

	<h1>About Shahed</h1>

	
	    <p>Hello, Everyone</p>

		<p>My name is 	<a href="https://www.facebook.com/MohammadShaheduzzamanShahed" target="_blank">Mohammad Shaheduzzaman Shahed</a>. i have Completed my Graduation by having BSc in EEE from UITS. and Also i have done CCNA(Cisco Certified Network Associate) (Vendor Certified) from AIUB. Though i graduated from EEE, but i was Passionate about learning Computer programming. Then i got the job as a Network Engineer and Junior oracle Database executive.</p>

		<p>As well as being quite addicted to computer programming, then I started practicing on my own, due to having a lot of work pressure at the job, I quit the job. Then I thought about how about to Make Money Online, then I started affiliate Marketing and then a lot of research i started dropshipping with my own wordpress E-Commerce website(the time was 2018, i started). Besides learning computer programming. I used to practice programming a little bit in addition to working online, and I'm still practicing programming.</p>

		<p>Finally, I want to be a best programmer</p> 
		<p><strong>I am Expert in</strong><br> 
		- Wordpress Website Customization<br>
		- Facebook Ads Campaign<br>
		- Bing Ads Campaign<br>
		- Google ads Campaign<br>
		And <em>Full Stack Web Developer with Python | Django </em> 
		</p>

		<p><strong>***</strong>Happy Programming and Wish you all the best<strong>***</strong></p>
		
		<p>You Can Visit My Dropshipping Business Website : <a href="https://www.ebestbuyco.com" target="_blank">https://www.ebestbuyco.com</a></p> 

		<p>And And Another Website : <a href="https://www.powerxit.com" target="_blank">https://www.powerxit.com</a></p> 
	

{% endblock %}